body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16pt;
	height: 100%;
}
img {
    width: 100%;
    height: 100%;
}
:root {
    --card_width: 250px;
    --row_increment: 10px;
    --card_border_radius: 16px;
    --card_small: 26;
    --card_medium: 33;
    --card_large: 45;
}
h2{
    color: dimgray;
    text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 1px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri,'Trebuchet MS', sans-serif;
    


}
.container {
    margin: 0;
    padding: 0;
    width: 60vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card_width));
    grid-auto-rows: var(--row_increment);
    justify-content: center;

    background-color: #e8e4e3;
}
.card {
    padding: 0;
    margin: 15px 10px;
    border-radius: var(--card_border_radius);
    background-color: black;
}
.card_small{
    grid-row-end: span var(--card_small);
}
.card_medium{
    grid-row-end: span var(--card_medium);
}
.card_large{
    grid-row-end: span var(--card_large);
}
nav ul {
    background: linear-gradient(0deg, white, rgb(243, 200, 59), white); 
	box-shadow: 6px 6px 6px rgba(0,0,0,0.15);
	padding: 0 20px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	color:black;
	font-weight:900;
	width:100%;
	display:inline-table;
}
nav ul li {
	display:inline-table;
}
nav ul li a {
	display: block; 
	padding: 25px 40px;
	color:#808080; 
	text-decoration: none;
}
nav ul li:hover {
    background: linear-gradient(180deg, white, #da6e27, rgb(223, 109, 9)); 
}
nav ul li:hover a {
	color:#757575;
}
nav ul li:hover > ul {
	display:flex;
	flex-direction:column;
	width:30%;
}
	
nav ul ul {
	display: none;
    background: linear-gradient(180deg, white,  rgb(243, 200, 59)); 
	border-radius: 0px; 
	padding: 0;
	position: absolute; 
	z-index:10;
}
nav ul ul li {
	display:block; 
	border-top: 1px solid #757575;
	border-bottom: 1px solid #757575; 
	position: relative;
}
nav ul ul li a {
	padding: 15px 40px;
	color: #757575;
}	
nav ul ul li a:hover {
	background: #da6e27, rgb(223, 109, 9);
	color:black;
}